body{
	background-image: url('https://pixabay.com/get/e131b8072af11c22d9584518a33219c8b66ae3d01cb7144196f6c070/student-849825_1920.jpg');
	background-size: cover;
	height: 100vh;
	background-repeat: no-repeat;
}
.card{
	background-color: rgba(51, 44, 44, 0.5);
	margin-top:100px;
	height: 270px;
	color: white;
}